<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
<body>
    
    <div class="container">
        
        <div class="informacoes-usuario">
            
            <div class="foto-perfil">
                <img src="{% static 'img/perfil.jpg' %}" alt="Foto do Usuário">
            </div>
            <p class="editar-foto">Editar foto de usuário</p>
        
        </div>

        <div class="menu">
            <button class="botao-menu">Configuração</button>
            <button class="botao-menu">Anotações</button>
            <button class="botao-menu">Editar plantação</button>
            <button class="botao-menu">Acessar Chatbot</button>
            <button class="botao-menu botao-sair">Sair do app</button>
        </div>
    
    </div>

</body>
</html>