<!-- apps/notas/templates/notas/ver_nota.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nota.titulo }}</title>
    <style>
        /* CSS local para limitar o conteúdo */
        .conteudo-nota {
            max-width: 100%; /* Limita o conteúdo à largura da tela */
            word-wrap: break-word; /* Quebra linhas longas automaticamente */
        }
    </style>
</head>
<body>
    <h1>{{ nota.titulo }}</h1>
    <div class="conteudo-nota">
        <p>{{ nota.conteudo|linebreaks }}</p>
    </div>
    <br>
    <a href="{% url 'notas:lista_notas' %}">Voltar para minhas anotações</a>
</body>
</html>
