* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}


h1 {
    font-size: 20px;
    text-align: center;
}

.conteudo {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}

.opcoes-rua {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}


.opcoes-rua label {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.botao-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botao-criar-plantacao {
    background-color: #5d6d7e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.botao-criar-plantacao:hover {
    background-color: #4a5158;
}

.widget-calendario {
    margin-top: 20px;
}

#calendario {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.checkbox-ruas {
    margin-bottom: 15px;
}

.botao-voltar {
    position: absolute;
    left: 700px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.botao-voltar a {
    text-decoration: none;

}