{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Registro</title>
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
</head>
<body>
    <div class="container">
        <form action="{% url 'login' %}">
            <button class="botao">Login</button>
        </form>
        <form action="{% url 'cadastro' %}">
            <button class="botao">Cadastro</button>
        </form>
    </div>
</body>
</html>