<!DOCTYPE html>
<html lang="pt-BR">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações das Culturas</title>
    <link rel="stylesheet" href="{% static 'css/info_lavouras.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/pt-br.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="cabecalho">
        <span class="botao-voltar" onclick="window.location.href='Home.html'">&#8592;</span>
        <h1>Minhas Plantações</h1>
    </div>

    <div class="conteudo">
        <div class="informacoes-plantacao">
            <div class="cabecalho-plantacao">
                <h2>Informações sobre clima e tempo</h2>
            </div>
            
            <div id="previsao-tempo"></div>
        </div>

        <div class="informacoes-datas">
            <div class="linha-datas">
                <div class="coluna">
                    <label>Data de plantação:</label> XX/XX/XX
                </div>
                <div class="coluna">
                    <label>Data de colheita:</label> XX/XX/XX
                </div>
            </div>
            <div class="linha-datas">
                <div class="coluna">
                    <label>Rua plantada:</label> Rua 1 e 2
                </div>
                <div class="coluna">
                    <label>Última rega:</label> XX/XX/XX
                </div>
            </div>
        </div>

        <div class="widget-calendario">
            <h3>Calendário</h3>
            <div id="calendario"></div>
        </div>
    </div>

    <script>
        function buscarPrevisao() {
            const chaveApi = '29271f146e486fcbd69deb136f88c7e7'; 
            const cidade = 'Carpina'; 
            const urlApi = `https://api.openweathermap.org/data/2.5/weather?q=${cidade}&appid=${chaveApi}&lang=pt_br&units=metric`;

            axios.get(urlApi)
                .then(resposta => {
                    const dadosTempo = resposta.data;
                    const descricao = dadosTempo.weather[0].description;
                    const temperatura = dadosTempo.main.temp;
                    const cidade = dadosTempo.name;
                    const icon = dadosTempo.weather[0].main; 

                    let iconeClima = '';
                    if (icon === 'Clear') {
                        iconeClima = '<i class="fas fa-sun"></i>';
                    } else if (icon === 'Clouds') {
                        iconeClima = '<i class="fas fa-cloud"></i>';
                    } else if (icon === 'Rain') {
                        iconeClima = '<i class="fas fa-cloud-showers-heavy"></i>';
                    }

                    document.getElementById('previsao-tempo').innerHTML = `
                        <div class="clima">
                            <h3>${cidade}, BR</h3>
                            <div class="dados-clima">
                                <span class="icone-clima">${iconeClima}</span>
                                <span class="temperatura">${temperatura}°C</span>
                            </div>
                            <p class="descricao">${descricao.charAt(0).toUpperCase() + descricao.slice(1)}.</p>
                        </div>
                    `;
                })
                .catch(erro => {
                    console.log("Erro ao buscar a previsão do tempo: ", erro);
                    document.getElementById('previsao-tempo').innerHTML = `
                        <p>Não foi possível carregar a previsão do tempo.</p>
                    `;
                });
        }

        buscarPrevisao();

        $(document).ready(function() {
            $('#calendario').fullCalendar({
                locale: 'pt-br', 
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'month'
                },
                height: 150, 
                contentHeight: 300,
                editable: true,
                events: [
                    {
                        title: 'Plantar',
                        start: '2024-10-10',
                        end: '2024-10-12'
                    },
                    {
                        title: 'Regar',
                        start: '2024-10-15'
                    }
                ]
            });
        });
    </script>
</body>
</html>
