{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static '/css/plantacoes_info.css'%}?{% now "U" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/pt-br.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <a href="{% url 'home' %}"><span class="botao-voltar">&#8592;</span></a>

        <div class="grid1">
            <div class="weather">
                {% if error %}
                <p>{{ error }}</p>
            {% else %}
                <h2>{{ city }}</h2>
                <p><strong>Temperatura:</strong> {{ temperature }} °C</p>
                <br>
                <p><strong>Condição:</strong> {{ description }}</p>
                <!-- <img src="http://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="{{ description }}"> -->
            {% endif %}
            </div>

            <div class="name">
                <div class="name-plant">
                    <p>{{ plantacao.nome }}</p>
                </div>
            </div>
        </div>

        <div class="grid2">
            <div class="grid-item">
                <div class="opt-text">Plantação</div>
                <div class="opt">{{ plantacao.data_plantacao }}</div>
            </div>
            <div class="grid-item">
                <div class="opt-text">Colheita</div>
                <div class="opt">XX/XX/XX</div>
            </div>
            <div class="grid-item">
                <div class="opt-text">Rua plantada</div>
                <div class="opt">{{ plantacao.ruas }}</div>
            </div>
            <div class="grid-item">
                <div class="opt-text">Ultima regada</div>
                <div class="opt">{{ plantacao.data_regada }}</div>
            </div>
        </div>
            <div class="grid3">
                <div id="calendario" class="calendar"></div>
            </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#calendario').fullCalendar({
                locale: 'pt-br', 
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'month'
                },
                height: 200, 
                contentHeight: 200, 
                editable: true,
                events: [
                    {
                        title: 'Plantio',
                        start: '2024-10-10'
                    },
                    {
                        title: 'Colheita',
                        start: '2024-10-20'
                    }
                ]
            });
        });
    </script>
</body>
</html>