* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #4b5c6b;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
}

.btn:hover {
    background-color: #ffffff;
    color: #4b5c6b
}