* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.informacoes-usuario {
    margin-bottom: 20px;
}

.foto-perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.editar-foto {
    margin-top: 20px;
    color: #5d6d7e;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botao-menu {
    background-color: #5d6d7e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.botao-menu:hover {
    background-color: #4b596b;
}

.botao-sair {
    background-color: #5d6d7e;
}

.botao-sair:hover {
    background-color: #4b596b;
}