<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Plantação</title>
    <link rel="stylesheet" href="{% static 'css/add_plantacao.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/pt-br.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    
    <div class="cabecalho">
        <a href="{% url 'saf' %}"><span class="botao-voltar">&#8592;</span></a>
    </div>

    <div class="conteudo">
        <label for="nome-plantacao">Digite o nome da plantação</label>
        <input type="text" id="nome-plantacao" name="nome-plantacao" placeholder="Nome da plantação">

        <p>Qual rua está plantada?</p>
        
        <div class="opcoes-rua">
            <label style="margin-right: 20px;"><input type="radio" id="saf" name="tipo-plantacao" value="SAF"> SAF</label>
            <label><input type="radio" id="horta" name="tipo-plantacao" value="Horta"> Horta</label>
        </div>

        <p>Selecione a(s) rua(s) onde está plantada:</p>
        <div class="checkboxes-ruas">
            <label><input type="checkbox" id="rua1" name="rua" value="Rua 1"> Rua 1</label><br>
            <label><input type="checkbox" id="rua2" name="rua" value="Rua 2"> Rua 2</label><br>
            <label><input type="checkbox" id="rua3" name="rua" value="Rua 3"> Rua 3</label><br>
            <label><input type="checkbox" id="rua4" name="rua" value="Rua 4"> Rua 4</label><br>
            <label><input type="checkbox" id="rua5" name="rua" value="Rua 5"> Rua 5</label>
        </div>

        <div class="widget-calendario">
            <h3>Calendário</h3>
            <div id="calendario"></div>
        </div>

        <div class="botao-container">
            <button class="botao-criar-plantacao">Criar plantação</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#calendario').fullCalendar({
                locale: 'pt-br', 
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'month'
                },
                height: 200, 
                contentHeight: 200, 
                editable: true,
                events: [
                    {
                        title: 'Plantio',
                        start: '2024-10-10'
                    },
                    {
                        title: 'Colheita',
                        start: '2024-10-20'
                    }
                ]
            });
        });
    </script>
</body>
</html>