<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Área</title>
    <link rel="stylesheet" href='{% static '/css/saf.css'%}?{% now "U" %}'>


</head>
<body>
    
    <div class="container">
        <a href="{% url 'home' %}"><span class="botao-voltar">&#8592;</span></a>
        <h2>Qual área você deseja?</h2>
        <div class="form">
            <button class="botao2"><a>SAF</a></button>
            <button class="botao"><a href="{% url 'horta' %}">Horta</a></button>
        </div>
        <br>
        <div class="grid">
            {% for plantacao in plantacoes %}
            <div class="grid-item">
                <td data-label="Nome"><a href="{% url 'plantacoes_info' plantacao.nome %}">{{ plantacao.nome }}</a></td>
            </div>
            {% endfor %}
        </div>
        <br><br>
        <a href="{% url 'add_plantacao' %}"><button class="add-botao">Adicionar plantação</button></a>
    </div>

</body>
</html>