{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container">
        <div class="form">
            <button class="botao">SAF</button>
            <button class="botao">Horta</button>
            <button class="add-botao">Adicionar plantação</button>
        </div>
    </div>
</body>
</html>